div(class="xl:px-64 px-2 w-full mx-auto")
    div(class='divide-y divide-gray-700')
        div(class='space-y-2 pt-6 pb-8 md:space-y-5')
            h1(class='text-3xl font-extrabold leading-9 tracking-tight sm:text-4xl sm:leading-10 md:text-6xl md:leading-14') Latest Posts
        ul(class='divide-y divide-gray-700 list-none')
            each post, index in posts
                li(key='{post.slug || index}' class='py-12')
                    article
                        div(class='space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0')
                            div(class='mx-5 my-auto w-10/12 md:w-1/2 lg:w-3/4 h-auto rounded-lg')
                                if post.attachments && post.attachments.length > 0 && post.attachments[0].location
                                  img(src=post.attachments[0].location, alt=post.attachments[0].name class='mx-5 my-auto w-10/12 md:w-1/2 lg:w-full h-auto rounded-lg shadow-lg')
                                else
                                  img(src='/images/default-image.png', alt='placeholder' class='mx-5 my-auto w-10/12 md:w-1/2 lg:w-full h-auto rounded-lg shadow-lg')
                            div(class='space-y-5 xl:col-span-3')
                                div(class='space-y-6')
                                    div
                                        span.text-gray-500 #{post.published}
                                        h2(class='text-2xl font-bold leading-8 tracking-tight')
                                            a(href=post.read_more_link class='text-gray-800') #{post.subject}
                                        div(class='flex flex-wrap space-x-3 text-base leading-5 text-teal-500')
                                            each tag in post.tags || []
                                                a(href='#'+tag)
                                                    p #{tag}
                                    div(class='prose max-w-none text-gray-400') #{post.preview}
                                div(class='text-base font-medium leading-6')
                                    a(href=post.read_more_link class='text-blue-900 hover:text-pink-900' aria-label='Read') Read more &rarr;