body
    .max-w-screen-xl.mx-auto.p-5(class='sm:p-10 md:p-5')
        div(class='grid gap-10 sm:grid-cols-1 lg:grid-cols-3')
            each post in posts
                .rounded.overflow-hidden.shadow-lg(class='w-3/4 lg:w-full mx-auto')
                    a(href=post.read_more_link)
                        div(class='w-full lg:h-48')
                            if post.attachments && post.attachments.length > 0 && post.attachments[0].location
                                img.w-full.max-h-full.max-w-full.object-contain.mx-auto.my-2(src=post.attachments[0].location alt=post.attachments[0].name)
                            else 
                                img.w-full.max-h-full.max-w-full.object-contain.mx-auto.my-2( src='/images/default-image.png' alt='placeholder' )
                    .px-6.py-4
                        a.font-semibold.text-lg.inline-block.transition.duration-500.ease-in-out.cursor-pointer(href=post.read_more_link class='hover:text-indigo-600') #{post.subject}
                        p.text-gray-500.text-sm #{post.preview}
                    .px-6.py-4.flex.flex-row.items-center
                        span.py-1.text-sm.font-regular.text-gray-900.mr-1.flex.flex-row.items-center
                            svg#Layer_1(height='13px' width='13px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                                g
                                g
                                    path(d='M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256\
                                    c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128\
                                    c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z')
                            span.ml-1 #{post.published}
script(src='https://cdn.tailwindcss.com')