- var postTitle = post.subject || 'Post Not Found'
- var postDescription = post.text?.substr(0, 199) || "PretzelBox BlogPost"
- var postImage = post.html?.split('src=')?.[1]?.split('"')?.[0] || ''
- var htmlContent = post.html
- var render = (!postTitle || !htmlContent || !post.slug)

html
    head 
        title #{postTitle}
        meta(name="description", content=postDescription)
        meta(property="og:image" content=postImage)
        meta(property="og:title" content=postTitle)
        meta(property="og:description" content=postDescription)
        meta(property="og:url" content=postUrl)
        meta(property="og:type" content="article")
        link(rel='stylesheet', href='/post1.css')
        script(src='https://cdn.tailwindcss.com')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@latest/dist/tailwind.min.css")
    body
        main.bg-slate-900.min-h-screen
            nav.flex.items-center.justify-between.flex-wrap(class='xl:px-64 px-5 md:py-12 py-6')
                .flex.items-center.flex-shrink-0.text-gray-200.mr-6
                    svg.fill-current.h-8.w-8.mr-2(width='54' height='54' viewbox='0 0 54 54' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z')
                    span.font-semibold.text-2xl.tracking-tight Blog
                div(class='inline-block lg:hidden bg-gray-700')
                    button.flex.items-center.px-3.py-2.border.rounded.text-teal-200.border-teal-400(class='hover:text-white hover:border-white')
                        svg.fill-current.h-5.w-5(viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z')
                div(class='hidden lg:flex items-center')
                    div(class='lg:flex-grow')
                    a.block.mt-4.text-gray-200.font-semibold.mr-4(href='#responsive-header' class='lg:inline-block lg:mt-0 hover:text-gray-400')
                        | Docs
                    a.block.mt-4.text-gray-200.font-semibold.mr-4(href='#responsive-header' class='lg:inline-block lg:mt-0 hover:text-gray-400')
                        | Examples
                    a.block.mt-4.text-gray-200.font-semibold(href='#responsive-header' class='lg:inline-block lg:mt-0 hover:text-gray-400')
                        | Blog
                    div
                        a.inline-block.text-sm.px-3.py-2.leading-none.border-2.border-gray-400.rounded.text-gray-200.mt-4.font-bold(href='#' class='md:ml-5 hover:border-transparent hover:text-gray-800 hover:bg-gray-200 lg:mt-0') Download
        
            div#postContainer
                div.py-5.px-7.bg-gray-200.text-gray-900.rounded-md.shadow-md.shadow-gray-600.mb-4
                    h1.text-2xl.font-semibold #{postTitle}
                div#postContent!=htmlContent